{
   "env": {
      "test": {
         "presets": [
            [
               "@babel/preset-env",
               {
                  "modules": false,
                  "targets": {
                     "node": "current"
                  }
               }
            ],
            "@babel/preset-typescript"
         ]
      },
      "development": {
         "presets": [
            ["@babel/preset-env", { "modules": false }],
            "@babel/preset-react"
         ],
         "plugins": ["react-hot-loader/babel"]
      }
   }
}
