.idea/
*.ipynb
.node_modules/
/yarn-error.log
/node_modules/
/webpack-stats.json
/.env
/client-build/
dataserver/cmd/fr-collector/fr-collector
dataserver/cmd/fr-redis-persistor/fr-redis-persistor
dataserver/cmd/fg-server/fg-server
dataserver/cmd/fg-server/static
dataserver/cmd/fr-db-persistor/fr-db-persistor
