.idea/
coverage/
*.ipynb
*telepresence.log
.node_modules/
/yarn-error.log
/node_modules/
/webpack-stats.json
/.env
/client-build/
/cesium/
dataserver/cmd/fr-collector/fr-collector
dataserver/cmd/fr-collector2/fr-collector2
dataserver/cmd/redis-point-persistor/redis-point-persistor
dataserver/cmd/fg-server/fg-server
dataserver/cmd/fg-server/static
dataserver/cmd/fr-db-persistor/fr-db-persistor
dataserver/cmd/pipelinedb-sidecar/pipelinedb-sidecar
*packr*
