.idea/
*.ipynb
.node_modules/
/yarn-error.log
/node_modules/
/webpack-stats.json
/.env
/client-build/
dataserver/cmd/fr-collector/fr-collector
dataserver/cmd/redis-point-persistor/redis-point-persistor
dataserver/cmd/fg-server/fg-server
dataserver/cmd/fg-server/static
dataserver/cmd/fr-db-persistor/fr-db-persistor
dataserver/cmd/pipelinedb-sidecar/pipelinedb-sidecar
