@import "../../node_modules/bootstrap/scss/bootstrap";

$icons-path: "'../../node_modules/ag-grid-community/src/styles/balham-icons/";
@import '../../node_modules/ag-grid-community/src/styles/ag-grid';
@import '../../node_modules/ag-grid-community/src/styles/ag-theme-balham-dark';

html, body, #cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}

/*#reactApp {*/
    /*position: absolute;*/
    /*left: 10px;*/
    /*bottom: 10px;*/
    /*padding: 100px;*/
    /*width: 500px;*/
    /*height: 300px;*/
    /*background-color: #4488B0;*/
/*}*/

.menuButton {
    position: absolute;
    top: 1em;
    left: 1em;
}

.flightTable {
    height: 35vh;
}

@media screen and (max-height: 900px) {
    .flightTable {
        height: 85vh;
    }
}
