{
  "presets": [
    ["env",{
      "modules":false,
      "targets": {
        "browsers": ["chrome >= 62", "firefox >= 57"]
      }
    }],
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
